h3,h2 {
  text-align: center;
}

#room {
  color: #000000 ;
  font-family: verdana;
}

#messages {
  list-style-type: none;
  color: #000000 ;
  font-family: verdana;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 75%;
  min-height: 75%;
  overflow: auto;
  float: right;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #09a3ed;
}

#messageDiv {
  padding: 5%;
  height: 85%;
}

#send-chat-btn {
  height: 25px;
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}

.side-border {
  height: 100%;
  border-right: 1px solid #32b7f7;
}

* {
 box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.videoPlayer {
  width: 640px;
  height: 360px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: black;
}

.video-controls-style {
  height: 35px;
  width: 100px;
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}

.long{
  width: 100%;
}

#search-input-container {
  height: 50px;
  width: 640px;;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10%;
  background-color: #fff;
  border: 2px solid #32b7f7;
}

#youtubeSearchInput {
  width: 75%;
  height: 30px;
  border: 1px solid #32b7f7;
  border-radius: 4px;
  font-weight: 300;
  line-height: 1.1;
  color: #444444;
}

#search-btn {
  width: 140px;
  margin-left: 1%;
  height: 25px;
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}

#saved-search-results-container {
  height: 500px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
  background-color: #fff;
  border: 2px solid #32b7f7;
}

#show-saved-results-btn {
  width: 40%;
  margin-top: 10px;
  margin-left: 10%;
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}

#show-searched-results-btn {
  width: 40%;
  margin-top: 10px;
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}


#saved-results-container {
  height: 435px;
  width: 90%;
  margin: 5%;
  background-color: #fff;
  border: 1px solid #32b7f7;
}

#search-results-container, #saved-results-container {
  height: 435px;
  width: 90%;
  margin: 5%;
  background-color: #fff;
  border: 1px solid #32b7f7;
}

#search-results, #saved-results {
  height: 355px; 
  overflow: scroll;
  margin-left: 20%;
}

.line-break {
  width: 640px;
  border-bottom: 1px solid #32b7f7;
  margin-bottom: 18px;
  margin-top: 18px;
}

.disableDiv {
  pointer-events: none;
  opacity: 0.4;
}

i {
  padding-right: 10px;
}

.big-icon {
  font-size: 25px;
}

  /* For mobile phones: */
@media only screen and (max-width: 900px) {
   [class*="col-"] {
       width: 100%;
   }
}