#m {
    width: 100%;
}

#room {
    color: #000000 ;
    font-family: verdana;
}

#messages {
    list-style-type: none;
    color: #000000 ;
    font-family: verdana;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 75%;
    min-height: 75%;
    overflow: auto;
    float: right;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #FAEBD7 ;
}

#messageDiv {
    border-left: 1px solid black;
    padding: 5%;
    height: 100%;
}

* {
 box-sizing: border-box;
}

.row:after {
   content: "";
   clear: both;
   display: block;
}

.videoPlayer {
  width: 640px;
  height: 360px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: black;
}

.video-controls-style {
  height: 38px;
  width: 100px;
  color: #ffffff;
  background-color: #d9230f;
  border: 1px solid #a91b0c;
  border-radius: 4px;
}

.long{
    width: 100%;
}

#search-input-container {
  height: 50px;
  width: 640px;;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10%;
  background-color: #fff;
  border: 1px solid #a91b0c ;
}

#youtubeSearchInput {
  width: 75%;
  height: 30px;
}

#search-btn {
  width: 140px;
  margin-left: 1%;
  height: 25px;
  color: #ffffff;
  background-color: #d9230f;
  border: 1px solid #a91b0c;
  border-radius: 4px;
}

#saved-search-results-container {
  height: 500px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
  background-color: #fff;
  border: 1px solid #a91b0c;
}

#show-saved-results-btn {
  width: 40%;
  margin-top: 10px;
  margin-left: 10%;
  color: #ffffff;
  background-color: #d9230f;
  border: 1px solid #a91b0c;
  border-radius: 4px;
}

#show-searched-results-btn {
  width: 40%;
  margin-top: 10px;
  color: #ffffff;
  background-color: #d9230f;
  border: 1px solid #a91b0c;
  border-radius: 4px;
}


#saved-results-container {
  height: 435px;
  width: 90%;
  margin: 5%;
  background-color: #fff;
  border: 1px solid #a91b0c;
}

#search-results-container, #saved-results-container {
  height: 435px;
  width: 90%;
  margin: 5%;
  background-color: #fff;
  border: 1px solid #a91b0c;
}

#search-results, #saved-results {
  height: 355px; 
  overflow: scroll;
  margin-left: 20%;
}

.line-break {
  width: 640px;
  border-bottom: 3px solid #a91b0c;
  margin-bottom: 18px;
  margin-top: 18px;
}

.disableDiv {
   pointer-events: none;
   opacity: 0.4;
}

i {
  padding-right: 10px;
}

.big-icon {
  font-size: 25px;
}

  /* For mobile phones: */
@media only screen and (max-width: 900px) {
   [class*="col-"] {
       width: 100%;
   }
}